#YMapsID{
    width: 100%;
    height: 98vh;
}
#favorite-list{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.favorite-list-item{
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: black;
    margin: 1px;
    padding: 1px;
}

.favorite-list-item:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#next-station-list{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.next-station-item{
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: black;
    margin: 4px 2px;
    padding: 15px 32px;
}

.modal-1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content-1 {
    background-color: #fefefe;
    margin: 15% auto 0;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content-2 {
    background-color: #fefefe;
    margin: 15% auto 0;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-1:hover,
.close-1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close-2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-2:hover,
.close-2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}