<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ТурбоРасписание</title>
    <link rel="stylesheet" href="~/css/myStyles.css" />
</head>
<body>
<div>
    <h1><a href="https://localhost:7175">Расписание</a></h1>
</div>
<div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/FacultiesDataFormController.js"></script>
    <div id="mainDiv" class="InstitutionsDiv">

    </div>
</div>
</body>
</html>
