<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ТурбоРасписание</title>
    <link rel="stylesheet" href=~/css/myStyles.css>
</head>
<body>
<div>
    <h1><a href="https://localhost:7175">Расписание</a></h1>
</div>
<div class="text-center">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/TeacherDataFormController.js"></script>
    <div>
        <h1 id="TeacherName"></h1>
    </div>
    <div id="mainDiv">
        <table id="timeTable" class="TimeTable"></table>
    </div>
</div>
</body>
</html>
